@page "/administration/"

@using UI.Web.Areas.Administration.Roles
@using UI.Web.Areas.LiveData.Categories
@attribute [Authorize(Roles = "Administrator")]

<h4>Administration</h4>

<div class="border border-1 m-3 p-3">
    <Roles></Roles>
</div>

<div class="border border-1 m-3 p-3">
    <h4>Job Verwaltung</h4>
    <div>ToDo!</div>
</div>

<div class="border border-1 m-3 p-3">
    <h4>Statistiken</h4>
    <div>ToDo!</div>
</div>

<hr />

<div class="row m-3">
    <div class="btn-group col-3 mt-3" role="group">
        <button @onclick=@NavigateBack class="btn btn-outline-secondary">Zurück</button>
    </div>
</div>

@code {
    private void NavigateBack()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
