<td class="align-top py-0 border-0">
    <div class="form-floating col p-0" b-6yl1ru612t="">
        <div b-6yl1ru612t="" class="form-control border-0 align-items-center d-flex">
            am
        </div>
    </div>
</td>

<td class="align-top py-0 border-0">
    <div class="form-floating col px-2">
        <input type="date" class="form-control border-0" @bind-value=date id="date" />
        <label for="date">Datum</label>
    </div>
</td>

<td class="align-top py-0 border-0">
    <div class="form-floating col p-0" b-6yl1ru612t="">
        <div b-6yl1ru612t="" class="form-control border-0 align-items-center d-flex">
            um
        </div>
    </div>
</td>

<td class="align-top py-0 border-0">
    <div class="form-floating col pe-0">
        <input type="time" class="form-control border-0" @bind-value=time id="time" />
        <label for="time">Uhrzeit</label>
    </div>
</td>

@code {
    private DateTime dateValue;
    private DateOnly date { get => DateOnly.FromDateTime(dateValue); set => Model = value.ToDateTime(time); }
    private TimeOnly time { get => TimeOnly.FromDateTime(dateValue); set => Model = date.ToDateTime(value); }
    
    [Parameter]
    public DateTime Model { get => dateValue; set { if (value == dateValue) return; dateValue = value; ModelChanged.InvokeAsync(value); } }

    [Parameter]
    public EventCallback<DateTime> ModelChanged { get; set; }
}
