@page "/list/{ListId:guid}/item/new"

@using Framework.DomainModels.Base;
@using UI.Web.Areas.LiveData.Scheduling
@using UI.Web.Data.Common

@inject ReminderService ReminderService

<EditForm Model=Model OnSubmit=@SaveNewToDo>
    <DataAnnotationsValidator />

    <div class="newItem row bg-opacity-25">
        <div class="d-flex col-8" @attributes=@GetMarginLeft()>
            <div class="col">
                <InputTextArea @bind-Value=Model.Bezeichnung id="bezeichnung" class="form-control" />
                <ValidationMessage For=@(() => Model.Bezeichnung) />
            </div>
        </div>

        <div class="col">
            <select @bind:get=@Model.CategoryId?.ToString() @bind:set=@((value) => SetCategoryId(value)) id="category" class="form-control">
                <option value="" @attributes=@SetSelected(Model.CategoryId, null)>Bitte auswählen...</option>
                @foreach (var category in Categories ?? Enumerable.Empty<CategoryDomainModel>())
                {
                    <option value="@category.Id" @attributes=@SetSelected(Model.CategoryId, category.Id)>@category.Bezeichnung</option>
                }
            </select>
        </div>
    </div>

    <ScheduleEdit ItemId=Guid.Empty @bind-Model=ScheduleEditModel></ScheduleEdit>

    <div class="row py-3">
        <div class="btn-group col-3" @attributes=@GetMarginLeft() role="group">
            <button type="button" @onclick=@Abort class="btn btn-outline-secondary">Abbrechen</button>
            <button type="submit" class="btn btn-outline-primary">Speichern</button>
        </div>
    </div>
</EditForm>

<div class="row">
    <div class="col-1">
        <IconSelect Selected="Privat" ElementsWithIcons=@Categories.Select(c => (Icon: c.Icon, Element: c.Bezeichnung))></IconSelect>
    </div>
</div>

@code {
    [Parameter]
    public Guid ListId { get; set; } = Guid.Empty;

    [Parameter]
    public ToDoItemDomainModel Model { get; set; } = new ToDoItemDomainModel();

    [Parameter]
    public int Level { get; set; }

    [Parameter]
    public EventCallback<ToDoItemDomainModel?> OnChange { get; set; }

    [CascadingParameter]
    public IdentityUser? User { get; set; }

    [CascadingParameter]
    public List<CategoryDomainModel> Categories { get; set; } = new List<CategoryDomainModel>();

    private DateTime? timeOfDay { get; set; }
    private DateTime? date { get; set; }

    private ScheduleEditDomainModel ScheduleEditModel { get; set; } = new ScheduleEditDomainModel();

    protected override void OnParametersSet()
    {
        try
        {
            if (User == null)
                return;
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
        }

        base.OnParametersSet();
    }

    private void SetCategoryId(string value)
    {
        try
        {
            if (Guid.TryParse(value, out var catId))
                Model.CategoryId = catId;
            else
                Model.CategoryId = null;
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
        }
    }

    private Dictionary<string, object>? SetSelected(Guid? categoryId, Guid? currentId)
    {
        try
        {
            if (!categoryId.Equals(currentId))
                return null;

            return new Dictionary<string, object>
            {
                { "selected", "selected" }
            };
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
            return null;
        }
    }

    private async Task Abort()
    {
        try
        {
            await OnChange.InvokeAsync(null);
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
        }
    }

    private Dictionary<string, object>? GetMarginLeft()
    {
        try
        {
            if (Model.CategoryId == null)
                return null;

            return new Dictionary<string, object>
            {
                { "style", $"margin-left: {Level * 32}px" }
            };
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
            return null;
        }
    }

    private async Task SaveNewToDo(EditContext context)
    {
        try
        {
            var valid = context.Validate();
            if (valid)
            {
                Model.Schedules = ScheduleEditModel.Schedules;
                Model.Reminders = ScheduleEditModel.Reminders;
                if (Model.CategoryId != null)
                    Model.Category = Categories.FirstOrDefault(c => c.Id == Model.CategoryId.Value);

                var dbModel = ModelMapper.Map(Model);
                Model.Id = await ItemRepository.AddAndSaveAsync(dbModel);

                if (Model.Schedules.Any() && Model.Reminders.Any())
                    await ReminderService.UpdateReminders(Model.Id);

                await OnChange.InvokeAsync(Model);
                EventHandlerService.RaiseEvent("ListChanged", new ListChangedEventArgs(ListChangeType.Create, Model));
            }
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(GetType()).LogError(ex, ex.Message);
        }
    }
}
