tr {
	transition: all .25s ease-in-out;
	font-weight: bold;
}

[draggable=true] span.fa-grip-vertical {
	cursor: move;
}

span.next-occurrence-info {
	font-size: 10px;
	position: absolute;
	bottom: -2px;
	opacity: .75;
}

tr.todo-item-separator {
	height: 8px;
	border: none;
}

tr.todo-item-separator > td {
	height: 8px;
	padding: 0;
}

tr.todo-item-separator:drop {
	height: 18px;
	border: none;
}

.markToDoDone > span.fa {
	top: 3px;
}

.addChild {
	transition: all .2s ease;
	background: #ddd;
	font-size: 6px;
	bottom: -1em;
	right: -1em;
	width: 2em;
	height: 2em;
	line-height: 2 !important;
	border: 1px solid rgba(0, 0, 0, .125);
	z-index: 1;
}

.addChild:hover {
	font-size: 16px;
}

tr.highlight {
	transition: all .25s ease-in-out;
	border: 1px darkgrey solid;
	box-sizing: border-box;
}

.moveChild {
	transition: all .2s ease;
	background: #ddd;
	font-size: 6px;
	right: 0;
	width: 4em;
	height: 2em;
	line-height: 2 !important;
	border: 1px solid rgba(0, 0, 0, .125);
	z-index: 1;
}

.removeOrder {
	transition: all .2s ease;
	background: #ddd;
	font-size: 6px;
	left: 0;
	top: 2em;
	width: 2em;
	height: 3em;
	line-height: 3 !important;
	border: 1px solid rgba(0, 0, 0, .125);
	z-index: 1;
}

.up {
	top: 1.25em;
}

.moveChild:hover, .removeOrder:hover {
	transition: all .25s ease-in-out;
	background: darkgrey;
}

.down {
	bottom: 1.25em;
}

.fade-in-on-hover > span:hover {
	transition: opacity .25s ease;
	opacity: 1.0 !important;
}