@using System.Security.Claims;
<h3>Ihre ToDo Listen</h3>

<table class="table table-light small table-hover table-bordered">
    <tbody>
        @foreach (var listEntry in myLists)
        {
            <tr>
                <td>
                    <div>
                        <NavLink class="nav-link" href=@(NavigationManager.BaseUri + @listEntry.Id)>
                            <span class="oi oi-@listEntry.ListType fw-bold text-black" aria-hidden="true"></span> <span class="fw-bold text-black">@listEntry.Name</span>
                        </NavLink>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<(string Name, string ListType, string Id)> myLists { get; set; } = new List<(string Name, string ListType, string ID)>();
    private ClaimsPrincipal? _currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _currentUser = (await AuthenticationProvider.GetAuthenticationStateAsync()).User;
        if (_currentUser?.Claims.Any() != true)
            return;

        var userId = Guid.Parse(_currentUser.Claims!.First(c => c.Type.Contains("nameidentifier")).Value);

        myLists = await UserRepository.GetAllListsAsync(userId);
    }
}
