tr {
	font-weight: bold;
}

tr.todo-item-separator {
	height: 8px;
	border: none;
}

.markToDoDone > span.fa {
	top: 3px;
}

.markToDoDone > span:hover {
	transition: opacity .2s ease;
	opacity: 1.0 !important;
}

.addChild {
	transition: all .2s ease;
	background: #ddd;
	font-size: 6px;
	bottom: -1em;
	right: -1em;
	width: 2em;
	height: 2em;
	line-height: 2 !important;
}

.addChild:hover {
	font-size: 16px;
}

.removeTodo > span.fa {
	top: -1px;
}

.removeTodo > span:hover {
	transition: opacity .1s ease;
	opacity: 1.0 !important;
}