.animateToSuccess span:hover {
	transition: color, opacity .2s ease;
	opacity: 1.0 !important;
	color: rgb(25, 135, 84) !important;
}

.addChildRow {
	transition: all .2s ease;
	font-size: 2px;
	height: 2px;
}

.addChildRow:hover {
	font-size: 12px;
	height: 18px;
}

.addChildRow > div:not(:first-child) {
	background: #ddd;
}

.d-flex-min {
	flex: 0 1 0%;
}

.removeTodo {
	padding-top: 2px;
	padding-right: 16px;
}

.removeTodo span:hover {
	transition: opacity .1s ease;
	opacity: 1.0 !important;
}