h4 span {
	cursor: pointer;
}

table ::deep tr th.fixed-w,
table ::deep tr td.fixed-w {
	width: 48px;
}

table ::deep tr th.position-relative:not(.fixed-w),
table ::deep tr td.position-relative:not(.fixed-w) {
	max-width: 0px;
}

table ::deep tr {
	font-size: calc(min(var(--bs-body-font-size), 2.77778vw));
}

table ::deep .active {
	transition: all .25s ease-in-out;
	box-shadow: inset 0 0 12px 0px currentColor;
	line-height: 2;
}

.removeTodo span:hover {
	transition: opacity .1s ease;
	opacity: 1.0 !important;
}