@using System.Security.Claims;
@using Core.Validation;
@using UI.Web.Data.Extensions;

<AuthorizeView>
    <NotAuthorized>
        <h4>Bitte einloggen!</h4>
        <div>
            <a href=@(NavigationManager.BaseUri + "Identity/Account/Login")>Login Page</a>
        </div>
    </NotAuthorized>

    <Authorized>
        <h3>ToDo Liste auswählen</h3>

        <table class="table table-light small table-hover table-bordered">
            <tbody>
                @foreach (var listEntry in myLists)
                {
                    <tr>
                        <td>
                            <div>
                                <div class="d-flex justify-content-between">
                                    <NavLink class="nav-link" href=@(NavigationManager.BaseUri + @listEntry.GetListUrl())>
                                        <div>
                                            <span class="fa fa-@listEntry.GetToDoListTypeIcon() text-black" aria-hidden="true"></span>
                                            <span class="fw-bold text-black ms-2">@listEntry.Name</span>
                                        </div>
                                    </NavLink>

                                    <span id="removeListButton" class="text-secondary align-self-center me-2" @onclick=@(async () => await RemoveList(@listEntry))><i class="fa fa-xmark" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <div>
                            <div class="d-flex justify-content-between">
                                <NavLink class="nav-link" href=@(NavigationManager.BaseUri + "list/new")>
                                    <div>
                                        <span class="fa fa-plus text-black" aria-hidden="true"></span>
                                        <span class="text-black ms-2"><em>Neue Liste anlegen</em></span>
                                    </div>
                                </NavLink>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </Authorized>
</AuthorizeView>


@code {
    private List<ToDoListDomainModel> myLists { get; set; } = new List<ToDoListDomainModel>();

    [CascadingParameter]
    public Modal? PageModal { get; set; }

    [CascadingParameter]
    public IdentityUser? User { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (User == default)
                return;

            var guidId = Guid.Parse(User.Id);
            myLists = ModelMapper.MapToList<ToDoListDomainModel>(await UserRepository.GetAllListsAsync(guidId));
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(this.GetType()).LogError(ex, ex.Message);
        }

        await base.OnParametersSetAsync();
    }

    private async Task RemoveList(ToDoListDomainModel list, bool force = false)
    {
        try
        {
            var flatItems = (await ItemRepository.GetAllItemsCompleteAsync(list.Id, false)).ToArray();
            if (flatItems.Any() && !force)
            {
                PageModal.NotNull();

                PageModal!.Title = @<h5>Achtung!</h5>;
                PageModal.Body =@<div class="row align-items-center">
                    <div class="col-3 text-center">
                        <span class="fa fa-warning text-warning fs-2" aria-hidden="true"></span>
                    </div>

                    <div class="col-9 text-start"><span>Die Liste "@list.Name" besitzt ToDo-Items. Möchten Sie alle @flatItems.Length Items löschen?</span></div>
                </div>;

                PageModal.AcceptActionAsync = () => RemoveList(list, true);

                PageModal.Show();
                return;
            }

            await ItemRepository.RemoveAndSaveAsync(flatItems);
            await UserRepository.RemoveAndSaveAsync(ModelMapper.Map(list));

            NavigationManager.NavigateTo(NavigationManager.BaseUri, true);
        }
        catch (Exception ex)
        {
            LoggerFactory.CreateLogger(this.GetType()).LogError(ex, ex.Message);
        }
    }
}
