<td @onclick=@(() => IsInEditMode = true)>
    @if (!IsInEditMode)
    {
        if (InputType == "text")
        {
            <span>@Value</span>
        }
        else if (InputType == "color")
        {
            <input type=@InputType disabled value=@Value class="w-100 pe-none"/>
        }
    }
    else
    {
        if (InputType == "text")
        {
            <EditForm Model=@Value>
                <DataAnnotationsValidator />

                <input type=@InputType @bind-value=@Value class="form-control" @onblur=@(() => IsInEditMode = false) />
                <ValidationMessage For=@(() => Value) />
            </EditForm>
        }
        else if (InputType == "color")
        {
            <input type=@InputType @bind-value=@Value class="w-100" @onblur=@(() => IsInEditMode = false) />
        }
    }
</td>

@code {
    [Parameter]
    public string InputType { get; set; } = "text";

    [Parameter]
    public string Value { get; set; } = string.Empty;

    private bool IsInEditMode { get; set; } = false;
}
