@using UI.Web.Exception;
@inherits LayoutComponentBase

<PageTitle>UI.Web</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundaryWithOutput @ref=@myBoundary>
                <ChildContent>
                    <CascadingValue Value="@PageModal">
                        @Body
                    </CascadingValue>
                </ChildContent>
                <ErrorContent>
                    <div class="blazor-error-boundary">
                        @foreach (var line in myErrorLines ?? Enumerable.Empty<(string Content, int Indentation)>())
                        {
                            <div class="d-block">
                                @for (var i = 0; i < line.Indentation; i++)
                                {
                                    <span class="d-inline-block">&nbsp;</span>
                                }

                                <span class="d-inline-block">@line.Content</span>
                            </div>
                        }

                        <div class="row">
                            <div class="btn-group col-3" role="group">
                                <button type="button" @onclick=@(() => @NavigationManager.NavigateTo(NavigationManager.Uri, true)) class="btn btn-light">Seite neu laden</button>
                            </div>
                        </div>
                    </div>
                </ErrorContent>
            </ErrorBoundaryWithOutput>
        </article>

        <Modal @ref=PageModal></Modal>
    </main>
</div>

@code{
    private ErrorBoundaryWithOutput? myBoundary;

    [CascadingParameter]
    public Modal PageModal { get; set; } = new Modal();

    private List<(string Content, int Indentation)>? myErrorLines
    {
        get
        {
            var lines = myBoundary?.CurrentException?.ToString().Split(Environment.NewLine.ToCharArray(), StringSplitOptions.RemoveEmptyEntries).ToList();
            return lines?.Select(l => (l.Trim(), l.TakeWhile(c => Char.IsWhiteSpace(c)).Count())).ToList();
        }
    }
}
