@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Awesome ToDo's</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href=@(NavigationManager.BaseUri + "administration/") Match="NavLinkMatch.All">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Administration
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@NavigationManager.BaseUri Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Meine Listen
            </NavLink>

            @foreach (var subList in allLists)
            {
                <NavLink class="nav-item nav-link nav-sub-item" href=@(NavigationManager.BaseUri + @subList.Url)>
                    <span class="oi oi-@subList.ListType ms-3" aria-hidden="true"></span> @subList.Name
                </NavLink>
            }
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private List<(string Name, string ListType, string Url)> allLists { get; set; } = new List<(string Name, string ListType, string Url)>();

    protected override async Task OnInitializedAsync()
    {
        var _currentUser = (await AuthenticationProvider.GetAuthenticationStateAsync()).User;
        if (_currentUser?.Claims.Any() != true)
            return;

        var userId = Guid.Parse(_currentUser.Claims!.First(c => c.Type.Contains("nameidentifier")).Value);

        allLists = await UserRepository.GetAllListsAsync(userId);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
