@using UI.Web.Areas.LiveData.Scheduling

<EditForm Model=Model OnSubmit=@SaveNewToDo>
    <DataAnnotationsValidator />

    <div class="row bg-opacity-25">
        <div class="d-flex col-8" @attributes=@GetMarginLeft()>
            <div class="col">
                <input type="text" @bind-value=Model.Bezeichnung id="bezeichnung" class="form-control" />
                <ValidationMessage For=@(() => Model.Bezeichnung) />
            </div>
        </div>

        <div class="col">
            <select @bind:get=@Model.CategoryId?.ToString() @bind:set=@((value) => SetCategoryId(value)) id="category" class="form-control">
                <option value="" @attributes=@SetSelected(Model.CategoryId, null)>Bitte auswählen...</option>
                @foreach (var category in _categories ?? Enumerable.Empty<Category>())
                {
                    <option value="@category.Id" @attributes=@SetSelected(Model.CategoryId, category.Id)>@category.Bezeichnung</option>
                }
            </select>
        </div>
    </div>

    <ScheduleEdit ItemId=Guid.Empty ListId=Guid.Empty SchedulesChanged=@UpdateModelSchedules></ScheduleEdit>

    <div class="row pb-3">
        <div class="btn-group col-3" @attributes=@GetMarginLeft() role="group">
            <button type="button" @onclick=@Abort class="btn btn-outline-secondary">Abbrechen</button>
            <button type="submit" class="btn btn-outline-primary">Speichern</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public ToDoItem Model { get; set; } = new ToDoItem();

    [Parameter]
    public int Level { get; set; }

    [Parameter]
    public EventCallback<ToDoItem?> OnChange { get; set; }

    public IEnumerable<Category> _categories { get; set; } = new List<Category>();

    private DateTime? timeOfDay { get; set; }
    private DateTime? date { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryRepository.GetAllCategoriesAsync();
    }

    private void SetCategoryId(string value)
    {
        if (Guid.TryParse(value, out var catId))
            Model.CategoryId = catId;
        else
            Model.CategoryId = null;
    }

    private Dictionary<string, object>? SetSelected(Guid? categoryId, Guid? currentId)
    {
        if (!categoryId.Equals(currentId))
            return null;

        return new Dictionary<string, object>
        {
            { "selected", "selected" }
        };
    }

    private async Task Abort()
    {
        await OnChange.InvokeAsync(null);
    }

    private Dictionary<string, object>? GetMarginLeft()
    {
        if (Model.CategoryId == null)
            return null;

        return new Dictionary<string, object>
        {
            { "style", $"margin-left: {Level * 32}px" }
        };
    }

    private void UpdateModelSchedules(object? schedules) => Model.Schedules = schedules as List<Schedule> ?? new List<Schedule>();

    private async Task SaveNewToDo(EditContext context)
    {
        var valid = context.Validate();
        if (valid)
        {
            await ItemRepository.AddAndSaveAsync(Model);
            Model = await ItemRepository.GetItemCompleteAsync(Model.Id) ?? new ToDoItem();

            await OnChange.InvokeAsync(Model);
        }
    }
}
